/* this is the container class style*/
.container{
    margin: 0 auto;
    padding: 23px;
    max-width: 1400px;
}

header{
    padding: 20px;          /* padding inside header box */   
    margin-bottom: 30px;    /* space below the header*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1{
    margin:0;               /* remove default style from h1 tag*/
    font-size: 28px;
    color: rgb(24, 36, 197);     /*color picker*/
}