spring:
    # enable colored output in the console for spring boot logs
    output:
        ansi:
            enabled: ALWAYS

    # configuring the postgreSQL database
    datasource:
        url: jdbc:postgresql://localhost:5432/Batcave
        username: postgres
        password: skillstorm

    # JPA/Hibernate configuration
    jpa:
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                '[format_sql]': true
                jdbc:
                    lob:
                        '[non_contextual_creation]': true
    
    # json serialization config 
    jackson:
        serialization:
            write-dates-as-timestamps: false
            fail-on-empty-beans: false
    
# tomcat server config
server:
  port: 8080
  servlet:
    context-path: /
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: on_param
    include-exception: false


